:css
  #title, #desc, #zip, .section {
    font-family: '#{@album.font_family}', sans-serif;
  }

- if @album.config(:zip)
  %a#zip{:href => "/#{@album.name}/zip"}
    .icon-cloud-download
    = t.download.all

#title
  = h @album.config(:title)
  #desc= h @album.config(:desc)

#container
  .wrapper
    - @photos.each do |photo|
      - if @album.config(:section) and not @album.config(:section)[photo.id].nil?
        = "</div>"
        .section= @album.config(:section)[photo.id]
        = "<div class='wrapper'>"
      %a.item{:id => photo.id.to_i, :href => preview(photo), "data-size" => "#{photo.size(:preview).x}x#{photo.size(:preview).y}"}<>
        %img{:class => 'lazy', :src => 'img/transparent.gif', "data-original" => thumb(photo), :width => photo.size(:thumb).x, :height => photo.size(:thumb).y}

:plain
  <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
  </div>


:javascript

  $(".wrapper").justifiedGallery({
    rowHeight: #{@album.config(:thumb)} / 1.5,
    margins: 5,
    waitThumbnailsLoad: false
  });

  /*
  baguetteBox.run('#container', {
    onChange: function(index) {
      window.location.hash = index;
    },
    afterHide: function() {
      window.location.hash = 'gallery';
    }
  });
  */

  document.getElementById('container').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {
            index: link,
            event: event
          },
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };


  $("img.lazy").lazyload();

  var id = parseInt(window.location.hash.substr(1));
  if (id >= 0) {
    $('#' + id + ' img').click();
  }