:css
  #title, #desc, #zip, .section {
    font-family: '#{@album.font_family}', sans-serif;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /* iPhone */
    #content {
      width: #{@album.config(:size) + 40}px;
    }
  }

- if @album.config(:zip) and not mobile?
  %a#zip{:href => "/#{@album.name}/zip"}
    .icon-cloud-download
    = t.download.all

#title
  = h @album.config(:title)
  #desc= h @album.config(:desc)

.container
  .wrapper
    - @photos.each do |photo|
      - if @album.config(:section) and not @album.config(:section)[photo.id].nil?
        = "</div>"
        .section= @album.config(:section)[photo.id]
        = "<div class='wrapper'>"
      %a.item{:name => photo.id, :href => photo_page(photo)}<>= thumb(photo)

:javascript

  if (document.location.hash != '#debug') {
    var container = document.querySelector('#container');
    if (navigator.platform.indexOf("iPhone") == -1) {
      $('.wrapper').masonry({
        itemSelector : '.item',
        isFitWidth: true,
        gutter: 20,
        columnWidth: #{@album.config(:size)}
      });
    }

    $(function() {
      $("img.lazy").lazyload();
    })
  }

