:css
  #title, #desc, #zip, .caption {
    font-family: '#{@album.font_family}', sans-serif !important;
  }

- if @album.config(:zip)
  %a#zip{:href => "/#{@album.name}/zip"}
    .icon-cloud-download
    = t.download.all

#title
  = h @album.config(:title)
  #desc= h @album.config(:desc)

#container
  - @photos.each do |photo|
    - if @album.config(:section) and not @album.config(:section)[photo.id].nil?
      .section
        %img{:src => "/img/transparent.gif"}
        .caption=@album.config(:section)[photo.id]
    %a.item{:href => original(photo)}<>
      %img.lazy{:src => embedded(photo), :"data-original" => thumb(photo), :width => photo.size(:thumb).x, :height => photo.size(:thumb).y}

:javascript

  var items = #{@gallery.to_json};

  var setHash = function() {
    var index = $('#swipebox-slider .slide').index($( '#swipebox-slider .slide.current' ));
    if (index >= 0) {
      window.location.hash = index + 1;
    } else {
      window.location.hash = 'gallery';
    }
  };

  $("#container").justifiedGallery({
    rowHeight: #{@album.config(:thumb)} / 1.5,
    margins: 5,
    waitThumbnailsLoad: true,
    cssAnimation: true,
    lastRow: "nojustify"
  }).on('jg.complete', function() {
    $(".lazy").lazyload({
      load: function() {
        $(this).removeClass('lazy');
      }
    });
    $(".item").each(function(i, item) {
      $(item).click(function(e) {
        e.preventDefault();
        $.swipebox(items, {
          initialIndexOnArray: i,
          nextSlide: setHash,
          prevSlide: setHash,
          afterOpen: setHash,
          afterClose: setHash
        });
      }).attr('id', i + 1);
    });
  });

  var direct = parseInt(window.location.hash.substr(1), 10);
  if (direct >= 0) {
    $.swipebox(items, {
      initialIndexOnArray: direct - 1,
      nextSlide: setHash,
      prevSlide: setHash,
      afterOpen: setHash,
      afterClose: setHash
    });
  }
