#wrapper
  - if @album.config(:zip)
    %a#zip{:href => "/#{@album.name}/zip"}
      .icon-cloud-download
      = t.download.all

  #title
    = h @album.config(:title)
    #desc= h @album.config(:desc)

  #container
    - @photos.each do |photo|
      - if @album.config(:section) and not @album.config(:section)[photo.id].nil?
        .section
          %img{:src => "/img/transparent.gif"}
          .caption=@album.config(:section)[photo.id]
      %a.item{:style => "width:#{photo.size(:thumb).x*200/photo.size(:thumb).y}px; flex-grow:#{photo.size(:thumb).x*200/photo.size(:thumb).y}",
          :"data-fancybox" => "photo", :id => "photo-#{photo.id.to_i}",
          :href => "/" + photo.uri(:preview),
          :"data-width" => photo.size(:preview).x, :"data-height" => photo.size(:preview).y,
          :"data-download-url" => "/" + photo.uri(:original)}<>
        %div{:style => "padding-bottom:#{photo.size(:thumb).y.to_f/photo.size(:thumb).x*100}%"}
        %img{:"data-original" => "/" + photo.uri(:thumb)}

%script{:type => 'text/javascript', :src => "http://code.jquery.com/jquery-3.2.0.min.js"}
%script{:type => 'text/javascript', :src => "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"}

:javascript

  $.fancybox.defaults.loop = false;

  $.fancybox.defaults.btnTpl.download = '<a class="fancybox-download fancybox-button"><div class="download icon"></div></a>';

  $.fancybox.defaults.buttons = [
    'download',
    'fullScreen',
    'close'
  ];

  $.fancybox.defaults.beforeShow = function( instance, current ) {
    $('.fancybox-download').attr('href', current.opts.$orig.attr('data-download-url'));
  }
