#wrapper
  - if @album.config(:zip)
    %a#zip{:href => "/#{@album.name}/zip"}
      .icon-cloud-download
      = t.download.all

  #title
    = h @album.config(:title)
    #desc= h @album.config(:desc)

  #container
    - @photos.each do |photo|
      - if @album.config(:section) and not @album.config(:section)[photo.id].nil?
        .section
          %img{:src => "/img/transparent.gif"}
          .caption=@album.config(:section)[photo.id]
      %a.item{:style => "width:#{photo.size(:thumb).x*200/photo.size(:thumb).y}px; flex-grow:#{photo.size(:thumb).x*200/photo.size(:thumb).y}", :"data-fancybox" => "photo", :id => "photo-#{photo.id.to_i}", :href => "/" + photo.uri(:preview), :"data-width" => photo.size(:preview).x, :"data-height" => photo.size(:preview).y, :"data-download-url" => "/" + photo.uri(:original)}<>
        %div{:style => "padding-bottom:#{photo.size(:thumb).y.to_f/photo.size(:thumb).x*100}%"}
        %img{:"data-original" => "/" + photo.uri(:thumb)}

:javascript

  $.fancybox.defaults.hash = "photo";
  $.fancybox.defaults.thumbs = false;
  $.fancybox.defaults.loop = false;
  $.fancybox.defaults.opacity = false;
  // $.fancybox.defaults.image.preload = false;

  $.fancybox.defaults.onInit = function( instance ) {
    instance.$refs.downloadButton = $('<a class="fancybox-button"><div class="download icon"></div></a>')
      .appendTo( instance.$refs.buttons );
  }

  $.fancybox.defaults.beforeMove = function( instance, current ) {
    if (current.opts.$orig) {
      instance.$refs.downloadButton.attr('href', current.opts.$orig.attr('data-download-url'));
      instance.$refs.downloadButton.attr('target', $('body').hasClass('touch_device') ? '_blank' : '_self');
    }
  }
