:css
  #title, #desc, #zip, .caption {
    font-family: '#{@album.font_family}', sans-serif !important;
  }

- if @album.config(:zip)
  %a#zip{:href => "/#{@album.name}/zip"}
    .icon-cloud-download
    = t.download.all

#title
  = h @album.config(:title)
  #desc= h @album.config(:desc)

#container
  = haml(:page)

:javascript

  $("#container").justifiedGallery({
    rowHeight: #{@album.config(:thumb)} / 1.5,
    margins: 5,
    waitThumbnailsLoad: false,
    cssAnimation: true,
    lastRow: "justify"
  });

  var items = #{@gallery.to_json};

  $('#container').magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery:{
      enabled:true
    },
    callbacks:{
      change: function() {
        window.location.hash = this.index;
      },
      beforeOpen: function() {
        this.items = items;
      },
      close: function() {
        window.location.hash = 'gallery';
      }
    },
  });


  var direct = parseInt(window.location.hash.substr(1), 10);
  if (direct >= 0) {
    $('#container').magnificPopup('open');
    $('#container').magnificPopup('goTo', direct);
  }

  var page = 1;
  var end = false;
  var wait = false;
  $(window).scroll(function() {
      if(end === false && wait === false && $(window).scrollTop() + $(window).height() + #{@album.config(:thumb)} >= $(document).height()) {
        wait = true;
        $('<div>').load("/#{@album.name}/page/" + page, function(html, status) {
          if (status == 'error') {
            if (html == 'No more pictures') {
              end = true;
            } else {
              // Do not page++, that's it
            }
          } else {
            $("#container").append($(this).html());
            $('#container').justifiedGallery('norewind');
            page++;
          }
          wait = false;
        });
      }
  });
