!!!
%html
  %head
    - if not @album.nil?
      %title= @album.config(:title)

      %meta{:property => "X-UA-Compatible", :content => "IE=EDGE"}

      %meta{:property => "og:type", :content => "article"}
      %meta{:property => "og:url", :content => gallery(@album)}
      %meta{:property => "og:title", :content => @album.config(:title)}
      %meta{:property => "og:description", :content => @album.config(:desc)}
      %meta{:property => "og:image", :content => samples(@album)}

      %meta{:property => "twitter:card", :content => 'summary_large_image'}
      %meta{:property => "twitter:site", :content => '@florentsolt'}
      %meta{:property => "twitter:url", :content => gallery(@album)}
      %meta{:property => "twitter:title", :content => @album.config(:title)}
      %meta{:property => "twitter:description", :content => @album.config(:desc)}
      %meta{:property => "twitter:image", :content => samples(@album)}

    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => "width=#{@album.nil? && 400 || 840}"}

    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}
    %link{:rel => "apple-touch-icon", :href => "favicon.png"}

    %style= @css

    %script{:type => 'text/javascript', :src => "http://code.jquery.com/jquery-3.2.0.min.js"}
    %script{:type => 'text/javascript', :src => "/js?#{Time.now.strftime "%Y%m%d"}"}

  %body{:class => touch_device? && "touch_device" || ""}
    = yield

    :javascript
      window.lazyLoadOptions = {};

    - if settings.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-360138-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    %script{:async => '', :type => 'text/javascript', :src => "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.0.1/lazyload.js"}
