-# encoding:utf-8
#photo
  #preview
    #wrapper
      %img

  #top.over
    %a#back= "« #{t.back}"
    .download
      %span.zip
        .icon-cloud-download
        %a= t.download.all
        &nbsp;—&nbsp;
      .icon-cloud-download
      %a#original= t.download.this

  #bottom.over
    #exif
    .share
      %a.icon-twitter-sign
      %a.icon-facebook-sign
      %a.icon-pinterest-sign

  - if not mobile?

    #left
      .icon-chevron-left
    
    #right
      .icon-chevron-right

:javascript

  function load(data) {
    $('#preview img').fadeOut(100, function() {
      $(this).replaceWith('<img src="' + data.preview +'" />');
      $('#preview').maximize().unbind('imageReady').on('imageReady', function(e, img) {
        img.css('visibility', 'visible').fadeIn();
      });
    });

    $('#back').attr('href', data.back);
    if (data.zip) {
      $('#top .download .zip a').attr('href', '/' + encodeURI(data.album) + '/zip');
      $('#top .download .zip').show();
    } else {
      $('#top .download .zip').hide();
    }
    $('#original').attr('href', '/download/' + encodeURI(data.album) + '/' + encodeURI(data.id) + '/original.' + encodeURI(data.ext));
    $('#exif').text(data.exif);
    if (data.share) {
      $('#bottom .share .icon-twitter-sign').click(function() {
        tw(data.page);
      });
      $('#bottom .share .icon-facebook-sign').click(function() {
        fb(data.page);
      });
      $('#bottom .share .icon-pinterest-sign').click(function() {
        pin(data.page, data.preview);
      });
      $('#bottom .share').show();
    } else {
      $('#bottom .share').hide();
      $('#bottom .share .icon-twitter-sign').unbind('click');
      $('#bottom .share .icon-facebook-sign').unbind('click');
      $('#bottom .share .icon-pinterest-sign').unbind('click');
    }
    window.next = data.next;
    window.prev = data.prev;

    $('<img class="preload"/>').attr('src', data.next + '/preview.jpg').css('display', 'none').appendTo($('body'));
    $('<img class="preload"/>').attr('src', data.prev + '/preview.jpg').css('display', 'none').appendTo($('body'));

    var preloads = $('img.preload');
    if (preloads.length >= 4) {
      preloads[0].remove();
      preloads[1].remove();
    }
  }

  function left() {
    if (window.prev) {
      if (history.pushState) {
        history.pushState({}, document.title, window.prev);
      }
      $.getJSON(window.prev, load);
    }
  }

  function right() {
    if (window.next) {
      if (history.pushState) {
        history.pushState({}, document.title, window.next);
      }
      $.getJSON(window.next, load);
    }
  }

  function fullscreen() {
    var e = document.body;
    if ($(e).hasClass('fullscreen')) {
      $(e).removeClass('fullscreen');
      if(document.exitFullscreen) {
        document.exitFullscreen();
      } else if(document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if(document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    } else {
      $(e).addClass('fullscreen');
      if(e.requestFullscreen) {
        e.requestFullscreen();
      } else if(e.mozRequestFullScreen) {
        e.mozRequestFullScreen();
      } else if(e.webkitRequestFullscreen) {
        e.webkitRequestFullscreen();
      } else if(e.msRequestFullscreen) {
        e.msRequestFullscreen();
      }
    }
  }

  $(function() {
    window.onpopstate = function(event) {
      $.getJSON(window.location.pathname, load);
    };

    $.fn.maximize.defaults = {
      center: 'both',
      align: 'left',
      resize: 'fill',
      zoomInLimit: 1,
      maxWidth: 0, 
      maxHeight: 0,
      effect: false
    };

    load(#{@data.to_json});

    $('html').addClass('noscroll');
    $('#left').click(left);
    $('#right').click(right);
    $('#preview img');
    $('#preview')
      .swipeEvents()
      .bind("swipeLeft",  function(){
        $('#preview img').animate({left: '-=100'});
        right();
      })
      .bind("swipeRight",  function(){
        $('#preview img').animate({left: '+=100'});
        left();
      });
    
    $(document).keydown(function(e) {
      if (e.keyCode == 37) {
        left();
      } else if (e.keyCode == 39) {
        right();
      } else if (e.keyCode == 70) { // F
        fullscreen();
      }
    });

  });

