-# encoding:utf-8
#photo
  #preview
    .wrapper
      %img{:src => preview(@photo)}

  #top.over
    %a#back{:href => "/#{@album.name}/##{@photo.id}"}= "« #{t.back}"
    .download
      - if @album.config(:zip) and not mobile?
        .icon-cloud-download
        %a{:href => "/#{@album.name}/zip"}= t.download.all
        &nbsp;—&nbsp;
      .icon-cloud-download
      %a{:href => "/download/#{@album.name}/#{@photo.id}/original.#{@photo.ext}"}= t.download.this

  #bottom.over
    #exif= exif(@photo)
    - if @album.config(:share)
      .share
        %a.icon-twitter-sign{:onclick => "tw('http://twitter.com/intent/tweet?text=&url=#{CGI.escape photo_page(@photo)}'); return false;" }
        %a.icon-facebook-sign{:onclick => "fb('http://www.facebook.com/sharer.php?u=#{CGI.escape photo_page(@photo)}'); return false;"}
        %a.icon-pinterest-sign{:onclick => "pin('http://pinterest.com/pin/create/button/?url=#{CGI.escape photo_page(@photo)}&media=#{CGI.escape preview(@photo)}'); return false"}

  - if not mobile?

    #left
      .icon-chevron-left
    
    #right
      .icon-chevron-right

:javascript

  function fullscreen() {
    var e = document.body;
    if ($(e).hasClass('fullscreen')) {
      $(e).removeClass('fullscreen');
      if(document.exitFullscreen) {
        document.exitFullscreen();
      } else if(document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if(document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    } else {
      $(e).addClass('fullscreen');
      if(e.requestFullscreen) {
        e.requestFullscreen();
      } else if(e.mozRequestFullScreen) {
        e.mozRequestFullScreen();
      } else if(e.webkitRequestFullscreen) {
        e.webkitRequestFullscreen();
      } else if(e.msRequestFullscreen) {
        e.msRequestFullscreen();
      }
    }
  }

  $(function(){
    function loadPage(url, noPush) {
      $(document).unbind('keydown');
        $.ajax(url + "?ajax=1").done(function(page) {
          if (!noPush && history.pushState) history.pushState(42, document.title, url);
          $('#content').html(page);
          if (typeof _gaq != "undefined") _gaq.push(['_trackPageview', window.location.pathname]);
      });
    }

    function left() {
      loadPage(#{photo_page(@prev).to_json}, false);
    }

    function right() {
      loadPage(#{photo_page(@next).to_json}, false);
    }

    $('html').addClass('noscroll');

    $('#preview')
      .css({visibility: 'hidden'})
      .maximize({
        resize: 'fill',
        align: 'left',
        center: 'both',
        effect: false,
        zoomInLimit: 1,
      })
      .on('imageReady', function(e, img) {
        img.css({visibility: 'visible'});
      })
      .swipeEvents()
      .bind("swipeLeft",  function(){
        $('#preview img').animate({left: '-=100'});
        right();
      })
      .bind("swipeRight",  function(){
        $('#preview img').animate({left: '+=100'});
        left();
      });

    $('#left').click(left);
    $('#right').click(right);

    $(document).keydown(function(e) {
      if (e.keyCode == 37) {
        left();
      } else if (e.keyCode == 39) {
        right();
      } else if (e.keyCode == 70 || e.keyCode == 76) { // F or L
        fullscreen();
      }
    });

    var imagePrev = $('<img />').attr('src', #{photo_page(@prev).to_json} + '/preview.#{@prev.ext}');
    var imageNext = $('<img />').attr('src', #{photo_page(@next).to_json} + '/preview.#{@next.ext}');

    window.onpopstate = function(event) {
      // Chrome fire onpopstate on loading
      if (event.state !== null) {
        loadPage(document.location.pathname, true);
      }
    };
  });

