-# encoding:utf-8
#stats-details
  .over
    %a#back{:href => "/#{@stream.name}"}= "« #{t.back}"
  #chart
  #trends
    - @stats[:trends].each do |trend|
      .trend
        - current = Time.now.strftime("%V")
        - if trend[:week] == current
          = "<em>#{t.stats.week.current}</em>"
        - else
          = "<em>#{t.stats.week.number trend[:week]}</em>"
        = (trend[:trend] >= 0 ? "+" : "") + trend[:trend].to_s
  #details

:javascript

  $(function(){
    dates = #{@stats[:dates].to_json};
    values = #{[@stats[:flickr], @stats[:ganalytics]].transpose.to_json};

    $('#chart').sparkline(values, {
      type: 'bar',
      height: 200,
      stackedBarColor: ['#444', '#666'],
      tooltipFormatter: function(sparkline, options, fields) {
        return "<em>@ " + dates[fields[1].offset] + "</em><br>" + 
        "<hr>" +
        "flickr: <b>" + fields[1].value + "</b><br>" + 
        "ganalytics: <b>" + fields[0].value + "</b>";
      }
    });

    $('#chart').bind('sparklineClick', function(e) {
      var sparkline = e.sparklines[0],
      region = sparkline.getCurrentRegionFields();
      $('#details').load("?date=" + dates[region[0].offset]);
    });


    $('#details').load("?date=" + dates[dates.length - 1]);
  });

