extends layout

block content
  style= css
    
  #wrapper
    a#zip(href="/" + album.name + "/zip")
      .icon-cloud-download Download

    #title
      = album.title
      #desc= album.description

    #container
      each picture in album.pictures
        - var thumbRatio = Math.floor(picture.thumb.width * 200 / picture.thumb.height)
        - var style = "width:" + thumbRatio + "px;flex-grow:" + thumbRatio
        
        a.picture(style=style,
            data-fancybox="picture",
            id="picture-" + picture.idStr,
            href="/" + album.name + "/previews/" + picture.filename,
            data-width=picture.preview.width,
            data-height=picture.preview.height,
            data-download-url="/" + album.name + "/originals/" + picture.filename)

          - var thumbRatio = picture.thumb.height / picture.thumb.width * 100
          - var style = "padding-bottom:" + thumbRatio + "%"
            
          div(style=style)
          img(data-original="/" + album.name + "/thumbs/" + picture.filename)

    script(async, type="text/javascript", src="/js")
