- var url = req.protocol + '://' + req.get('host')
doctype html
html
  head
    meta(property="X-UA-Compatible", content="IE=EDGE")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    link(href="/favicon.ico", rel="shortcut icon")
    link(rel="apple-touch-icon", href="favicon.png")

    if album
      meta(name="viewport", content="width=400")

      meta(property="og:type", content="article")
      meta(property="og:url", content=url + "/" + album.name)
      meta(property="og:title", content=album.title)
      meta(property="og:description", content=album.description)
      meta(property="og:image", content=url + "/" + album.name + "/samples.jpg")

      meta(property="twitter:card", content="summary_large_image")
      meta(property="twitter:site", content="@florentsolt")
      meta(property="twitter:url", content=url + "/" + album.name)
      meta(property="twitter:title", content=album.title)
      meta(property="twitter:description", content=album.description)
      meta(property="twitter:image", content=url + "/" + album.name + "/samples.jpg")

      title= album.title
    else
      meta(name="viewport", content="width=800")
      title Albums

  body
    block content

    script.
      window.lazyLoadOptions = {};

    if env === "production"
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-360138-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    script(async=true, type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.0.1/lazyload.min.js")
